<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="TrabauConnectionString" connectionString="Data Source=72.167.32.38 ;Initial Catalog=trabaumain;User ID=trabau.user;Password=U$er@trabau..!@#;pooling=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Force WWW and SSL" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^[^www]" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://www.trabau.com/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <urlMappings enabled="true">
      <add url="~/index" mappedUrl="index.aspx" />
      <add url="~/login" mappedUrl="login.aspx" />
      <add url="~/signup/index" mappedUrl="~/signup/index.aspx" />
      <add url="~/signup/profile-updation" mappedUrl="~/signup/profile-updation.aspx" />
    </urlMappings>
    <!--<customErrors mode="Off"/>-->
    <compilation debug="true" targetFramework="4.7.2" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1024000" executionTimeout="999999" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <trust level="Full" originUrl="" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>